@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input:focus{
    outline: none;
}

.main_container{
    height: 100vh;
    width: 100vw;
    background-color: #222222;
    display: flex;
    color: #ffffff;
}

.nav_logo_container{
    width: 25%;
}

.logo{
    color: #8ecce9;
}

.chat_container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    background-color: #444444;
    margin: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: end;
}

.mensagem_usuario_container{
    align-self: flex-end;
    display: none;
    align-items: center;
    justify-content: end;
    width: 80%;
    height: 50px;
    background-color: #6d6d6d;
    border-radius: 10px;
    margin-bottom: 15px;
}

.mensagem_usuario{
    margin-right: 20px;
    margin-left: 20px;
}

.mensagem_bot_container{
    width: 80%;
}

.form_container{
    display: flex;
    width: 80%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

#caixa_mensagem_usuario{
    color: #fff;
    border: none;
    border-radius: 10px 0px 0px 10px;
    height: 70px;
    background-color: #222222;
    width: 100%;
    padding-left: 10px;
}

#botao_enviar{
    cursor: pointer;
    height: 70px;
    border: none;
    background-color: #222222;
    border-radius: 0px 10px 10px 0px;
    padding-right: 10px;
}

.material-symbols-outlined{
    color: #ffffff;
}