@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a{
    text-decoration: none;
}

input:focus{
    outline: none;
}

.main_container{
    height: 100vh;
    width: 100vw;
    background-color: #222222;
    display: flex;
    color: #ffffff;
}

.nav_logo_container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25%;
    padding: 20px;
    justify-content: space-between;
}

.logo{
    color: #8ecce9;
}

.nav_container{
    display: flex;
    flex-direction: column;
    height: 80%;
    gap: 200px;
}

.novo_chat_container{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.novo_chat_container p{
    margin-left: 5px;
}

.seu_chats_container p{
    color: #8b8b8b;
    font-size: 14px;
}

.seu_chats_container .chats p{
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    width: 90%;
}

.seu_chats_container .chats p{
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
}

.conta_usuario_container{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nome_conta_usuario{
    margin-left: 5px;
}

.chat_container{
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    height: auto;
    background-color: #444444;
    margin: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: end;
}

.mensagem_usuario_container{
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 80%;
    height: auto;
    background-color: #6d6d6d;
    border-radius: 10px;
    margin-bottom: 15px;
}

.mensagem_usuario{
    margin: 20px;
}

.mensagem_bot_container{
    text-align: justify;
    width: 80%;
    height: auto;
}

.mensagem_bot {
    margin: 20px;
}

.form_container{
    display: flex;
    width: 80%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

#caixa_mensagem_usuario{
    color: #fff;
    border: none;
    border-radius: 10px 0px 0px 10px;
    height: 70px;
    background-color: #222222;
    width: 100%;
    padding-left: 10px;
}

#botao_enviar{
    cursor: pointer;
    height: 70px;
    border: none;
    background-color: #222222;
    border-radius: 0px 10px 10px 0px;
    padding-right: 10px;
}

.material-symbols-outlined{
    color: #ffffff;
}