@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a{
    text-decoration: none;
}

input:focus{
    outline: none;
}

.main_container{
    height: 100vh;
    width: 100vw;
    background-color: #222222;
    display: flex;
    color: #ffffff;
}

.nav_logo_container{
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 25%;
    margin: 20px;
    justify-content: space-between;
    align-self: center;
}

.logo{
    color: #8ecce9;
}

.nav_container{
    display: flex;
    flex-direction: column;
    height: 80%;
    gap: 200px;
}

.novo_chat_container{
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #8ecce9;
    height: 50px;
    border-radius: 5px;
    justify-content: center;
}

.novo_chat_container p{
    color: #000;
    margin-left: 5px;
    font-size: 14px;
}

.chat_add_on{
    color: #000;
}

.seu_chats_container p{
    color: #8b8b8b;
    font-size: 14px;
}

.seu_chats_container .chats p{
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    width: 90%;
}

.seu_chats_container .chats p{
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
}

.conta_usuario_container{
    background-color: #444444;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 15px;
}

.nome_conta_usuario{
    margin-left: 5px;
}

.chat_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    align-self: center;
    justify-self: center;
    background-color: #444444;
    border-radius: 20px;
    margin: 20px 20px 20px 0px;
    align-items: center;
}

.mensagens_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    overflow-y: auto;
}

.mensagem_usuario_container{
    text-align: justify;
    display: flex;
    align-self: end;
    height: auto;
    background-color: #6d6d6d;
    border-radius: 10px;
    margin: 30px;
}

.mensagem_usuario{
    padding: 10px;
}

.mensagem_bot_container{
    display: flex;
    text-align: justify;
    height: auto;
    margin: 0px 30px 0px 30px;
}

.bot_pensando{
    height: auto;
    margin: 15px 0px 15px 0px;
    font-size: 18px;
}

.mensagem_bot{
    white-space: pre-wrap;
}

.form_container{
    display: flex;
    width: 80%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

#caixa_mensagem_usuario{
    color: #fff;
    border: none;
    border-radius: 10px;
    height: 70px;
    background-color: #222222;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

#botao_enviar{
    cursor: pointer;
    height: 70px;
    border: none;
    background-color: #222222;
    border-radius: 0px 10px 10px 0px;
    padding-right: 10px;
}