.chat_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    align-self: center;
    justify-self: center;
    background-color: #444444;
    border-radius: 20px;
    margin: 20px 20px 20px 0px;
    align-items: center;
}

.chat_container .mensagens_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    overflow-y: auto;
}

.mensagens_container .mensagem_usuario_container{
    text-align: justify;
    display: flex;
    align-self: end;
    height: auto;
    background-color: #6d6d6d;
    border-radius: 10px;
    margin: 30px;
}

.mensagem_usuario_container .mensagem_usuario{
    padding: 10px;
}

.mensagens_container .mensagem_bot_container{
    display: flex;
    text-align: justify;
    height: auto;
    margin: 0px 30px 0px 30px;
}

.mensagem_bot_container .bot_pensando{
    height: auto;
    margin: 15px 0px 15px 0px;
    font-size: 18px;
}

.mensagem_bot_container .mensagem_bot{
    white-space: pre-wrap;
}

.chat_container .form_container{
    display: flex;
    width: 80%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.form_container #caixa_mensagem_usuario{
    color: #fff;
    border: none;
    border-radius: 10px;
    height: 70px;
    background-color: #222222;
    width: 100%;
    padding: 0px 10px 0px 10px;
}