.nav_logo_container{
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 25%;
    margin: 20px;
    justify-content: space-between;
    align-self: center;
}

.nav_logo_container .logo{
    color: #8ecce9;
}

.nav_logo_container .nav_container{
    display: flex;
    flex-direction: column;
    height: 80%;
    gap: 200px;
}

.nav_container .novo_chat_container{
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #8ecce9;
    height: 50px;
    border-radius: 5px;
    justify-content: center;
}

.nav_container .novo_chat_container p{
    color: #000;
    margin-left: 5px;
    font-size: 14px;
}

.novo_chat_container .chat_add_on{
    color: #000;
}

.seu_chats_container p{
    color: #8b8b8b;
    font-size: 14px;
}

.seu_chats_container .chats p{
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    width: 90%;
}

.nav_logo_container .usuario_container{
    background-color: #444444;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 15px;
    transition: all 1s;
}

.usuario_container .entrar_usuario{
    margin-left: 5px;
}

.nav_logo_container .usuario_container:hover{
    background-color: #686868;
}

.nav_logo_container .modal_login{
    top: -5%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #000;
    width: 500px;
    height: 500px;
    display: flex;
    justify-self: center;
    align-self: center;
    visibility: visible;
    transition: 0.5s;
}

.nav_logo_container .modal_login.abrir{
    visibility: visible;
    top: 0%;
}