*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a{
    text-decoration: none;
}

input:focus{
    outline: none;
}