/* Tela Login */
.modal_login{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

.modal_login.abrir{
    display: flex;
}

.modal_conteudo{
    width: 600px;
    height: 700px;
    background-color: #222222;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_login .modal_login_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal_login_form .text_login{
    margin-bottom: 30px;
    font-size: 60px;
}

.modal_login_form .email_login{
    display: flex;
    background-color: #e6e6e6;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    width: 400px;
    height: 50px;
    margin-bottom: 30px;
    padding: 20px;
}

.email_login input{
    background-color: #e6e6e6;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.email_login input::placeholder{
    font-size: 20px;
}

.email_login span{
    color: #6b6b6b;
    font-size: 24px;
}

.modal_login_form .senha_login{
    display: flex;
    background-color: #e6e6e6;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    width: 400px;
    height: 50px;
    margin-bottom: 30px;
    padding: 20px;
}

.senha_login input{
    background-color: #e6e6e6;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.senha_login input::placeholder{
    font-size: 20px;
}

.senha_login span{
    color: #6b6b6b;
    font-size: 24px;
}

.modal_login_form button{
    cursor:pointer;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 400px;
    height: 50px;
    color: #fff;
    background-color: #8b8b8b;
    margin-bottom: 30px;
}

.modal_login_form p {
    font-size: 18px;
}

.modal_login_form p span{
    cursor: pointer;
    color: rgb(24, 105, 151);
}

/* Tela registrar */

.modal_registrar_form{
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal_registrar_form .text_registrar{
    margin-bottom: 30px;
    font-size: 60px;
}

.modal_registrar_form .email_registrar{
    display: flex;
    background-color: #e6e6e6;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    width: 400px;
    height: 50px;
    margin-bottom: 30px;
    padding: 20px;
}

.email_registrar input{
    background-color: #e6e6e6;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.email_registrar input::placeholder{
    font-size: 20px;
}

.email_registrar span{
    color: #6b6b6b;
    font-size: 24px;
}

.modal_registrar_form .senha_registrar{
    display: flex;
    background-color: #e6e6e6;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    width: 400px;
    height: 50px;
    margin-bottom: 30px;
    padding: 20px;
}

.senha_registrar input{
    background-color: #e6e6e6;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.senha_registrar input::placeholder{
    font-size: 20px;
}

.senha_registrar span{
    color: #6b6b6b;
    font-size: 24px;
}

.modal_registrar_form button{
    cursor:pointer;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 400px;
    height: 50px;
    color: #fff;
    background-color: #8b8b8b;
    margin-bottom: 30px;
}

.modal_registrar_form p {
    font-size: 18px;
}

.modal_registrar_form p span{
    cursor: pointer;
    color: rgb(24, 105, 151);
}