<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="/static/js/main.js" ></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js" defer></script>
</head>
<body>
    <!-- Principal Container -->
    <div class="main_container">
        <!-- Nav Logo Container -->
        <div class="nav_logo_container">
            <!-- Logo -->
            <h1 class="logo">Saints</h1>
            <!-- Nav -->
            <nav class="nav_container">
                <div class="novo_chat_container">
                    <span class="material-symbols-outlined chat_add_on">chat_add_on</span>
                    <p>Novo chat</p>
                </div>
                <div class="seu_chats_container">
                    <p>Seus chats</p>
                    <div class="chats">
                        <a href="#"><p>Lorem, ipsum dolor sit</p></a>
                        <a href="#"><p>Lorem, ipsum dolor sit</p></a>
                        <a href="#"><p>Lorem, ipsum dolor sit</p></a>
                    </div>
                </div>
            </nav>
            <!-- Conta -->
            <div class="usuario_container" id="usuario_container">
                <span class="material-symbols-outlined">account_circle</span>
                <p class="aba_usuario" id="aba_usuario">Entrar</p>
            </div>
            <!-- Login modal -->
            <div class="modal_login" id="modal_login">
                <div class="modal_conteudo">
                    <form class="modal_login_form">
                        <h1 class="text_login">Login</h1>
                        <div class="email_login">
                            <input id="input_email_login" type="text" placeholder="E-mail">
                            <span class="material-symbols-outlined">alternate_email</span>
                        </div>
                        <div class="senha_login">
                            <input id="input_senha_login" type="password" placeholder="Senha">
                            <span class="material-symbols-outlined">lock</span>
                        </div>
                        <button type="submit" >Entrar</button>
                        <p>Não tem uma conta? <span class="span_registrar">Registrar</span></p>
                    </form>
                    <form class="modal_registrar_form">
                        <h1 class="text_registrar">Registrar</h1>
                        <div class="nome_usuario_registrar">
                            <input id="input_usuario_registrar" type="text" placeholder="Nome de usuário">
                            <span class="material-symbols-outlined">account_circle</span>
                        </div>
                        <div class="email_registrar">
                            <input id="input_email_registrar" type="text" placeholder="E-mail">
                            <span class="material-symbols-outlined">alternate_email</span>
                        </div>
                        <div class="senha_registrar">
                            <input id="input_senha_registrar" type="password" placeholder="Senha">
                            <span class="material-symbols-outlined">lock</span>
                        </div>
                        <button type="submit" >Criar conta</button>
                        <p>Tem uma conta? <span class="span_fazer_login">Fazer login</span></p>
                    </form>
                </div>
            </div>
        </div>
        <!-- ChatBot Container -->
        <div class="chat_container">
            <div class="mensagens_container">
            </div>
            <!-- Form -->
            <form class="form_chat_container">
                <input id="caixa_mensagem_usuario" placeholder="Pergunte alguma coisa">
            </form>
        </div>
    </div>
</body>
</html>