<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/js/script.js" defer></script>
    <link rel="stylesheet" href="/static/css/chatbot.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
    <!-- Principal Container -->
    <div class="main_container">
        <!-- Nav Logo Container -->
        <div class="nav_logo_container">
            <!-- Logo -->
            <h1 class="logo">Saints</h1>
            <!-- Nav -->
            <nav class="nav_container">
                <div class="novo_chat_container">
                    <span class="material-symbols-outlined chat_add_on">chat_add_on</span>
                    <p>Novo chat</p>
                </div>
                <div class="seu_chats_container">
                    <p>Seus chats</p>
                    <div class="chats">
                        <a href="#"><p>Lorem, ipsum dolor sit</p></a>
                        <a href="#"><p>Lorem, ipsum dolor sit</p></a>
                        <a href="#"><p>Lorem, ipsum dolor sit</p></a>
                    </div>
                </div>
            </nav>
            <!-- Conta -->
            <div class="conta_usuario_container">
                <span class="material-symbols-outlined">account_circle</span>
                <p class="nome_conta_usuario">Weverton Santos</p>
            </div>
        </div>
        <!-- ChatBot Container -->
        <div class="chat_container">
            <div class="mensagem_usuario_container">
                <div class="mensagem_usuario">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio eos consequuntur nam assumenda delectus deserunt pariatur, temporibus aut consequatur quisquam velit voluptate doloremque mollitia aperiam voluptas repudiandae qui. Sed, culpa!
                </div>
            </div>
            <div class="mensagem_bot_container">
                <div class="mensagem_bot">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, vel. Impedit quibusdam laboriosam ab soluta nemo eveniet modi, dolores consequuntur incidunt architecto accusantium rem sunt magnam culpa repellendus delectus beatae?
                </div>
            </div>
            <!-- Form -->
            <form class="form_container">
                <input id="caixa_mensagem_usuario" placeholder="Pergunte alguma coisa"></input>
                <button id="botao_enviar"><span class="material-symbols-outlined">send</span></button>
            </form>
        </div>
    </div>
</body>
</html>